<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-calm">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <div class="buttons">
          <button class="button button-icon ion-navicon" menu-toggle="left" ng-hide="$exposeAside.active"></button>
        </div>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large" class="side-menu">

    <ion-content>
      <img class="logo" src="img/vslogo.png" alt="Videostore">
      <h2><span>Filme</span></h2>
      <div class="list">
        <a class="item item-icon-left" ui-sref="app.search" nav-clear menu-close>
          <i class="icon ion-ios-search"></i> Suchen
        </a>
        <a class="item item-icon-left" ui-sref="app.search" nav-clear menu-close>
          <i class="icon ion-ios-barcode-outline"></i> Scannen
        </a>
        <a class="item item-icon-left" ui-sref="app.charts" nav-clear menu-close>
          <i class="icon ion-trophy"></i> Charts
        </a>
        <h2><span>Allgemein</span></h2>

        <a class="item item-icon-left" ui-sref="app.search" nav-clear menu-close>
          <i class="icon ion-ios-book-outline"></i> Anleitung
        </a>
        <a class="item item-icon-left" ui-sref="app.search" nav-clear menu-close>
          <i class="icon ion-ios-email-outline"></i> Kontakt
        </a>
        <h2><span>Account</span></h2>
        <a class="item item-icon-left" ui-sref="app.search" nav-clear menu-close>
          <i class="icon ion-ios-gear-outline"></i> Einstellungen
        </a>
        <a class="item item-icon-left" ng-click="vm.logout()" menu-close>
          <i class="icon ion-log-out"></i> Logout
        </a>
        <div class="divider">&nbsp;</div>
        <a class="item item-icon-left" ui-sref="app.search" nav-clear menu-close>
          <i class="icon ion-ios-information-outline"></i> Information
        </a>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
