# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
/platforms/
/plugins/

# when use sass, do not commit css files
/www/css/
/www/lib/
/www/js/
# do not commit generated images
/resources/ios

*~
.idea
.io-config.json